.footer{
  margin-top:5px;
  padding-top:15px;
  padding-bottom:5px;
  border-radius:3px;
  background-color: rgb(16, 16, 16);
  text-align: center;
}
.footer a:link, a:visited{
  color: rgb(160, 224, 180);
}

.footer a:hover{
  text-decoration: none;
  color: rgb(0, 164, 51);
}

.header-stores {
  background-color: rgb(16, 16, 16);
  padding:15px;
  margin-bottom: 15px;
}
.header-stores span title{
    color: white;
}
#map-canvas{
  height:500px;
  margin: 0px;
  padding: 0px;
}
.navbar-brand{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}
.navbar-brand span{
  font-size: 35px;
  color: #888;
  margin-bottom:-10px;
}
.site-title{
  font-size: 15vmin;
  font-weight: bold;
}
.site-tagline{
  margin-top: -5vmin;
  font-size: 5vmin;
}
.main-content{
  padding: 10px;
  width:100%;
  height:560px;
  background-color: rgb(16, 16, 16);
  border-radius: 7px;
  color: rgb(160, 224, 180);
}

.main-content h1{
  font-size: 7vmin;
  font-weight: bold;
}
.main-content h2{
  font-size: 5.5vmin;
  font-weight: bold;
}

.top-donors{
  padding: 5px;
  background-color: rgb(16, 16, 16);
  border-radius: 7px;
  color: rgb(160, 224, 180);
}
.top-donors h1{
  font-size: 6vmin;
  font-weight: bold;
}

.top-donors table{
  text-align:center;
}
.top-donors table th{
  text-align:center;
  font-size:3.5vmin;
}

.top-donors table tr{
  font-size: 4vmin;
}
.top-donors table td:hover{
  color:black;
}
