.footer{
  padding-top:15px;
  padding-bottom:5px;
  border-radius:3px;
  background-color: rgb(16, 16, 16);
  text-align: center;
}
.footer a:link, a:visited{
  color: rgb(160, 224, 180);
}

.footer a:hover{
  text-decoration: none;
  color: rgb(0, 164, 51);
}

#map-canvas{
  height:500px;
  margin: 0px;
  padding: 0px;
}
.navbar-brand{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}
.site-title{
  font-size: 15vmin;
  font-weight: bold;
}
.site-tagline{
  margin-top: -5vmin;
  font-size: 5vmin;
}
.store-map{
  padding: 10px;
  width:100%;
  margin-bottom:130px;
  background-color: rgb(16, 16, 16);
  border-radius: 7px;
  color: rgb(160, 224, 180);
}

.store-map h1{
  font-size: 7vmin;
  font-weight: bold;
}
.store-map h2{
  font-size: 5.5vmin;
  font-weight: bold;
}

.top-donors{
  padding: 5px;
  background-color: rgb(16, 16, 16);
  border-radius: 7px;
  color: rgb(160, 224, 180);
}
.top-donors h1{
  font-size: 6vmin;
  font-weight: bold;
}

.top-donors table{
  text-align:center;
}
.top-donors table th{
  text-align:center;
  font-size:3.5vmin;
}

.top-donors table tr{
  font-size: 4vmin;
}
.top-donors table td:hover{
  color:black;
}
